.img01 {
	float:right;
	width:184px;
	margin-left:20px;
}
.img01 img {
	border:2px solid black;
	box-shadow:4px 4px 4px rgba(0,0,0,.5);
}
.contentWrap h1 {
	font-size:1.6em;
	margin-bottom:35px;	
}
.contentWrap p {
	font-size:.85em;
	margin-bottom:15px;
	padding:0 30px;
}
.statement {
	clear:both;
	width:750px;
	margin:30px auto 25px auto;
}
.statement img {
	float:right;
	margin-right:30px;
	margin-top:-25px;
}
.contentWrap ul {
	list-style:none;
	margin:0;
	padding:0;
	padding-left:40px;
	margin-bottom:25px;
	font-size:.85em;
}