/* Design Page Styles */

.thumbnailDisclaimer {
	text-align:center;
	width:400px;
	margin:0 auto;
	margin-bottom:20px;
}
.thumbnailDisclaimer p {
	font-size:.9em;
}

.thumbnails div {
	display:inline-block;
	width:160px;
	height:115px;
}

.tn_01 {
	background-image:url(../images/design/sm_01.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.tn_02 {
	background-image:url(../images/design/sm_02.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.tn_03 {
	background-image:url(../images/design/sm_03.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.tn_04 {
	background-image:url(../images/design/sm_04.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.tn_05 {
	background-image:url(../images/design/sm_05.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.tn_06 {
	background-image:url(../images/design/sm_06.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.tn_02, .tn_03, .tn_04, .tn_05, .tn_06 {
	margin-left:-5px;
}

.courses {
	width:800px;
	margin:0 auto;
	margin-top:40px;
}
.courses table {
	margin-bottom:30px;
}
.courses table td {
	width:266px;
	padding:5px 0;
}
.courses table td h3 {
	font-weight:200;
}
.courses table td p {
	font-size:.8em;
}
.courses h1 {
	text-decoration:underline;
	font-size:1.3em;
	margin-bottom:15px;
}

.tn_title {
	list-style:none;
	margin:0;
	padding:0;
}
.tn_title li {
	display:inline-block;
	font-size:.8em;
	margin-left:-5px;
	width:160px;
	padding:0 10px;
	vertical-align:text-top;
}
.tn_title li:first-child {
	margin-left:0;
}
.tn_title li h3 {
	line-height:110%;
}